body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  background:#f7f7f7;
}

header{
  background:#e10600;
  color:white;
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.btn-wa{
  background:#25d366;
  padding:10px 15px;
  color:white;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}

.hero{
  text-align:center;
  padding:60px 20px;
}

.produk{
  padding:20px;
}

.card{
  background:white;
  padding:15px;
  margin-bottom:15px;
  border-radius:10px;
}
